<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<title>homepage</title>
<body>
    <%- include('./partials/header') %>

    <h1>Bienvenido a la home Yeseria Gauna</h1>

    <%- include('./partials/footer') %>
</body>
</html>