<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<title>Terminos y condiciones</title>
<body>
    <%- include('./partials/header') %>
    <h1>estos son los terminos y condiciones</h1>
</body>
</html>