
<footer>

    <div class="footer-align">
        <div class="container-1">
            <hr>
            <p class="footerh1">
                Seguinos en nuestras Redes Sociales
                <hr>
            </p>
            <nav class="icons-social" id="contacto">
                <ul class="link-social">
                    <li><a href="tel:1164371277"><img src="/images/whatsaap.png" alt="whatsapp" width="40px"></a></li>
                    <li><a href="https://www.facebook.com/groups/357177424448241/" target="_blank"><img src="/images/facebook.png" alt="facebook" width="40px"></a></li>
                    <li><a href="mailto:lemagauna@gmail.com" target="_blank"><img src="/images/gmail.png" alt="gmail" width="40px"></a></li>
                    <li><a href="https://www.linkedin.com/in/emanuel-gauna-414837213/" target="_blank"><img src="/images/linkedin.png" alt="linkedin" width="40px"></i></a></li>
                    <ul class="github">   
                        <li class="button"><a href="https://github.com/emanuel-gauna"><i class="fa-brands fa-github"></i></a></i></li><a href="">Emanuel Gauna</a>
        
                    </ul>
                </ul>
            </nav>
        </div>

        <article id="sobreNosotros" class="container-2">
            <h3>Sobre nosotros:</h3>
            <h1 class="footerh1">Yeseria Gauna </h1>
            <p class="app-social">
                 es una pagina informativa de yeseria y todo lo relacionado con revestimientos interiores, datos, curiosidades y contacto de nuestro servicio; asi tambien brinda una sección de tienda donde podes comprar tus herramientas y materiales para refaccionar remodelar y ampliar y revestir tu casa, vivienda y/u hogar como asi tmb aprender este bello oficio. esperamos que sea de su agrado su visita y que resuleva cualquier duda consulta en nuestra seccion de contacto
             </p>
             <div class="footer-container3">
                <a href="#" class="qr">
                    <img class="qr-img" src="/images/codigo-qr.png" alt="qr">
                </a>
            </div>
        </article>
    </div>
<!-- scrips -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
