<header>
    <h2>header de las vistas Yeseria gauna</h2>
    <nav>
        <ul>
            <li> nosotros  </li>
            <li> contactanos  </li>
            <li> muestrario de trabajos  </li>
            <li> tienda</li>
    </ul>
    </nav>
</header>